
/* Inline #18 | http://localhost:3000/menproduct/6319fa459b0305cd66a60d1e */

.product-details-top {
    display: grid;
    column-gap: 80px;
    grid-template-columns: 40% 55%;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  
  .product-details-content {
    text-align: left;
  }
  
  .product-details-area {
    margin: 50px 0;
  }
  
  .product-details-content h3 {
    font-size: 25px;
    font-weight: 600;
  }
  
  .product-details-content {
    padding-top: 20px;
  }
  
 
  .product-details-content p {
    font-weight: 500;
    padding: 10px 0;
  }
  
  .product-details-content h5 {
    font-size: 13px;
    padding-top: 15px;
    text-align: justify;
  }
  
  .product-details-bottom p {
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
  }
  



/* Inline #23 | http://localhost:3000/menproduct/631b144a8dfd479ec93ba983 */

.order {
  background-color: #333;
  padding: 20px 10px;
}

.order .order-input {
  width: 90%;
  margin-bottom: 10px;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}
.order .submit-btn{
  text-align: right;
  margin-right: 32px;
}
.order .submit-btn .button {
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 600;
  border: navajowhite;
  background-color: #fff;
  color: #333;
}

/* Inline #23 | http://localhost:3000/menproduct/631b144a8dfd479ec93ba983 */

.order-form {
  background-color: #333;
}

.order-form h3 {
  padding-top: 14px;
  color: #fff;
  font-weight: 600;
}

.order-form {
  margin-top: 25px;
  border-radius: 8px;
}




.product-review {
  background-color: #333;
  padding: 15px;
  color: #fff;
}


/* Inline #23 | http://localhost:3000/menproduct/631b144a8dfd479ec93ba983 */

.product-review .review-input {
  width: 45%;
  margin-right: 10px;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.product-review .review-desc {
  width: 91%;
  margin-right: 10px;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;

}


/* Inline #23 | http://localhost:3000/menproduct/631b144a8dfd479ec93ba983 */

.review-submit {
  text-align: right;
  padding: 0 50px;
}

.review-submit input[type="submit"] {
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  background-color: #fff;
  border-radius: 5px;
}

.review-submit {
  /* padding: 0 50px; */
  padding: 0 53px;
}
