.messages {
	display: flex;
	justify-content: space-between;
}
.message-heading h2 {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
    display: inline-block;
    border-radius: 5px;
  }
  
  .message-heading {
    text-align: left;
    margin: 10px 0;
  }
  
  .message-content {
    display: flex;
  }
  
  .message-content h1 {
    font-size: 25px;
    font-weight: 600;
    margin-right: 30px;
  }
  
  .message-content h2 {
    font-size: 17px;
    font-weight: 500;
  }
  
  