
/* Inline #10 | http://localhost:3000/ */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-area {
    padding: 15px 0;
  }
  
  .logo h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
  }
  
  
  
  .nav-menu ul {
    display: flex;
  }
  
  .nav-menu ul li {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
  }
  
 
  .input-field .input {
    padding: 5px;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #333;
    width: 200px;
  }
  
  .input-field button {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    padding: 7px 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 90px;
  }
  
  